* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.logoText {
  margin-left: 5px;
}

.logo {
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem 5%;
  background-color: rgb(28, 100, 163);
  color: white;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navItems li,
a {
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.navItems li {
  background-color: rgb(77, 164, 240);
  transition: all 0.3s ease-in-out;
}
.navItems li:hover,
a:hover {
  background-color: rgb(0, 136, 255);
}

.navItems li:hover {
  background-color: rgb(0, 136, 255);
  transition: all 0.3s ease-in-out;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 10vw;
  width: 200px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* this makes any absolute children position relative to this element */
}

.hero img {
  width: 100%;
  filter: blur(0px);
  height: 70vh;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.hero img:hover {
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.title {
  /* ~~it feels like it's a bit to the bottom more than the top, I don't know why~~ see the comment on the hero class */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.product-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 5rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.category-image {
  /* width: 200px;
  height: 200px;
  object-fit: cover; */
  font-size: 5rem;
  /* text-align: center; */
}

.category-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.category-description {
  font-size: 1rem;
  margin-top: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: rgb(28, 100, 163);
  color: white;
  text-align: center;
}
